  <div id="sidebar">
   <a href="/">
    <div class="h-icon">
     <img src="/format_images/logo_home_light_small.png">
     <span class="side-text"></span>
    </div>
   </a>
   <a href="/panoramas">
    <div class="icon">
     <img src="/format_images/logo_pano_light_small.png">
     <span class="side-text">Panoramas</span>
    </div>
   </a>
   <a href="/projects/">
    <div class="icon">
     <img src="/format_images/logo_tech_light_small.png">
     <span class="side-text">Projects</span>
    </div>
   </a>
   <a href="/contact/">
    <div class="icon">
     <img src="/format_images/logo_about_light_small.png">
     <span class="side-text">About</span>
    </div>
   </a>
  </div>
