{{ define "main"}}  
<div id="content">
    {{ .Content}}
    <div id="grid">
        {{ range(where .Pages.ByDate.Reverse ".Params.unlisted" "!=" "true")  }}
            <a href="{{.RelPermalink}}">
                <span id="thumbnail">
                    <img src="{{ $.Site.Params.staticURL }}{{.RelPermalink}}{{.Params.Thumbnail}}">
                    <span> {{.Description}}</span>
                    {{ printf "%#v" .RelPermalink }}
                </span>
            </a>
        {{end}}
    </div>
</div>
{{ end }}