a {
    color: #66ff66;
}
a:visited {
    outline:focus none;
}
body {
 font-size: 0px;
 background: #191919;
 background-image: url("format_images/background_tile.png");
 text-align: center;
 margin: 0px;
 padding: 0px;
 border: 0px;
}
#code {
 background-color: rgba( 0, 0, 0, .8);
 margin-left: 100px;
 margin-right: 50px;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 10px;
 border-style: solid;
 border-width: 0px 1px;
 border-color: #66ff66;
}
#code p{
 position: relative;
 font-family: 'Oxygen Mono', monospace;
 font-weight: 400;
 font-size: 14px;
 text-align: left;
 color: white;
 margin-left: 20px;
 margin-right: 20px;
 white-space: pre;
}
#content {
 background-color: rgba( 0, 0, 0, .5);
 margin-left: 60px;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 10px;
 border-style: solid;
 border-width: 0px 1px;
 border-color: #66ff66;
}
#content-blue-edges {
 background-color: rgba( 0, 0, 0, .5);
 margin-left: 60px;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 10px;
 border-style: solid;
 border-width: 0px 1px;
 border-color: #66ccff;
}
#content t1{
 font-family: "Montserrat";
 font-weight: 400;
 font-size: 60px;
 color: white;
}
#content p{
 position: relative;
 font-family: "Montserrat";
 font-weight: 400;
 font-size: 14px;
 text-align: center;
 color: white;
 margin-left: 20px;
 margin-right: 20px;
}

#content-blue-edges p{
 position: relative;
 font-family: "Montserrat";
 font-weight: 400;
 font-size: 14px;
 text-align: center;
 color: white;
 margin-left: 20px;
 margin-right: 20px;
}
#caption {
 background-color: rgba( 0, 0, 0, .5);
 margin-left: 60px;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 10px;
 border-style: solid;
 border-width: 0px 1px;
 border-color: #dddddd;
}
#caption p{
 position: relative;
 font-family: "Montserrat";
 font-weight: 400;
 font-size: 12px;
 text-align: center;
 color: white;
 margin-left: 20px;
 margin-right: 20px;
}
#banner {
 z-index: 1;
 height: 40px;
 width: 100%;
 background-color: rgba(80, 80, 80, .5); 
 padding-top: 5px;
 padding-left: 50px;
 position: fixed;
 vertical-align: bottom;
 white-space: nowrap;
}
#banner h1{
 font-family: "Montserrat";
 font-weight: 200;
 font-size: 30px;
 color: white;
 text-align: left;
 line-height: 0;
}
#banner h2{
 font-family: "Montserrat";
 font-size: 20px;
 color: white;
 text-align: center;
 line-height: 0;
}
#sidebar {
 top: 0;
 font-family: "Julius Sans One";
 font-size: 0px;
 text-align: left;
 color: white;
 width: 50px;
 height: 100%;
 position: fixed;
 z-index: 2;
 background-color: rgba(80, 80, 80, .5); 
 text-align: center;
}
#sidebar img{
 max-width: 30px;
}
#sidebar a{
 text-decoration: none;
}
.icon {
 text-align: center;
}
.icon img{
 padding: 10px;
}
.icon:hover{
 background-color: white;
 width: 250px;
 height: 50px;
 text-align: left;
 font-size: 30px;
}
.icon:hover img{
 filter:brightness(0);
 margin-left: 0px;
}
.icon:hover span{
 padding-right:10px;
 padding-bottom: 5px;
 vertical-align: 10px;
}
.h-icon {
 text-align: center;
}
.h-icon img{
 padding: 10px;
}
.h-icon:hover{
 background-color: white;
 width: 50px;
 height: 50px;
 text-align: left;
 font-size: 30px
}
.h-icon:hover img{
 filter:brightness(0);
 margin-left: 0px;
}
.h-icon:hover span{
 padding-right:10px;
 vertical-align: 10px;
}
.side-text {
 margin: 0px;
 padding: 0px;
 border: 0px;
 width: 0px;
 height: 0px;
 color: black;
 text-align: right;
}
.side-text:hover {
 width: 100px;
 height: 100px;
 font-family: "Julius Sans One";
 font-size: 30px;
 margin: 0px;
 border: 0px;
}
#thumbnail {
 height: 300px;
 width: 300px;
 max-width: 480px;
 position: relative;
 margin: 0px;
 padding: 0px;
 border: 0px;
 font-size: 0px;
 display: inline-block;
}

#thumbnail img {
 height: 300px;
 width: 300px;
 top: 50%;
 left: 50%;
 margin: 0px;
 padding: 0px;
 border: 0px;
 object-fit: cover;
 overflow: hidden;
 outline: none;
}

#thumbnail span {
 position: absolute;
 width: 300px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 font-family: "Julius Sans One";
 font-size: 30px;
 text-align: center;
 margin: 0px;
 padding: 0px;
 border: 0px;
}
#thumbnail:hover img {
 filter: brightness(.3);
}
#thumbnail:hover span {
 font-size: 30px;
}
#thumbnail-dyn-label span {
 position: absolute;
 width: 300px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 font-family: "Julius Sans One";
 font-size: 0px;
 text-align: center;
 margin: 0px;
 padding: 0px;
 border: 0px;
}
#thumbnail-dyn-label:hover img {
 filter: brightness(.3);
}
#thumbnail-dyn-label:hover span {
 font-size: 30px;
}
#banner-thumbnail {
 height: 500px;
 width: 500px;
 position: relative;
 margin: 0px;
 padding: 0px;
 border: 0px;
 font-size: 0px;
 display: inline-block;
}

#banner-thumbnail img {
 height: 500px;
 width: 500px;
 top: 50%;
 left: 50%;
 margin: 0px;
 padding: 0px;
 border: 0px;
 object-fit: cover;
 overflow: hidden;
 outline: none;
}

#banner-thumbnail span {
 position: absolute;
 width: 500px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 font-family: "Julius Sans One";
 font-size: 30px;
 text-align: center;
 margin: 0px;
 padding: 0px;
 border: 0px;
}
#banner-thumbnail:hover img {
 filter: brightness(.3);
}

#grid {
 margin-left: 45px;
 text-align: center;
}
#footer {
 background-color: rgba(50,50,50, .6);
 position: fixed;
 bottom: 0;
 margin-left: 50px;
 width: calc(100% - 50px);
}
#footer p{
 position: relative;
 font-family: "Montserrat";
 font-weight: 400;
 font-size: 10px;
 text-align: center;
 color: #66ff66;
 margin-right: 50px;
 vertical-align: bottom;
}
#return {
    margin-left: 50px;
    width: calc(100% - 50px);
    height: 50px;
    background-color: rgba(80, 80, 80, .5);
    text-align: center;
}
#return:hover{
    background-color: white;
}
#return img{
    width: 40px;
    padding: 5px;
}
#return:hover img{
    filter:brightness(0);
}
