{{ define "main"}}
    {{ .Content}}
    <div id="content">
        <div id="grid">
            {{ range .Pages.ByWeight.Reverse}}
                <a href="{{.RelPermalink}}">
                    <span id="thumbnail">
                        <img src="{{ $.Site.Params.staticURL }}{{.Params.Thumbnail}}">
                        <span> {{.Description}} <br> ({{.Params.Resolution}})</span>
                        {{ printf "%#v" .RelPermalink }}
                    </span>
                </a>
            {{end}}
        </div>
    </div>
	<div id="content">
		<p> Note: due to the sheer scale of these panoramas, they may incidentally (and without my knowledge) display images of people without their express permission. If you object to your likeness being shown in one of my panoramas, simply contact me and I'd be more than happy to edit you out.<br>
	</div>
{{ end }}