<!doctype html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Karl Johnson - 404</title>
  <link rel="shortcut icon" type="image/png" href="/format_images/title_icon.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400">
  <link rel="stylesheet" href="/style.css"> 
 </head>
 <body>
  {{ partial "sidebar/sidebar_pano.html" . }}
  <div id="content">
   <t1> Error - 404 </t1><br>
   <p color="red"> You requested a file that doesn't exist. </p><br>
   <p color="green"> Because this website isn't finished, I just probably haven't created this page yet.</p><br>
  </div>
  {{ partial "footer/footer.html" . }}
 </body>
</html> 