{{ define "title" }}
  Karl Johnson - Home
{{ end }}
{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div id="content">
   <t1> welcome </t1><br>
   <p> I mainly use this website to show off my personal exploits in photography and engineering, though I sometimes post interesting things I've done for work and school. </p>
  </div>
  <div id="grid">
   <a href="projects/20201201-panoramic-head">
    <span id="banner-thumbnail">
     <img src="{{ $.Site.Params.staticURL }}projects/bluetoothThumbnail.jpg">
     <span>Featured: Motorized Panoramic Tripod Head!</span>
    </span>
   </a>
   <a href="photos/">
    <span id="banner-thumbnail">
     <img src="{{ $.Site.Params.staticURL }}photos/Nature/20180901_thumb-60.jpg">
     <span> go to photos</span>
    </span>
   </a>
   <a href="projects/">
    <span id="banner-thumbnail">
     <img src="{{ $.Site.Params.staticURL }}coming-soon/28-135_thumb.jpg">
     <span> go to projects</span>
    </span>
   </a>
  </div> 
{{ end }}