{{ define "title" }}
  Karl Johnson - Home
{{ end }}
{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div id="content">
   <t1> welcome </t1><br>
    <p> I am an photonics/electrical engineering student at UC San Diego who is also interested in taking big panoramas, rock climbing, and doing other projects sometimes. <br>
   <p> I mainly use this website to show off my personal exploits in panoramic photography and engineering, though I sometimes post interesting things I've done for work and school. </p>
  </div>
  <div id="content-blue-edges">
	<div id="grid">
	   <a href="projects/20201201-panoramic-head">
		<span id="banner-thumbnail">
		 <img src="{{ $.Site.Params.staticURL }}projects/bluetoothThumbnail.jpg">
		 <span>Featured: Motorized Panoramic Tripod Head!</span>
		</span>
	   </a>
	   <a href="panoramas/">
		<span id="banner-thumbnail">
		 <img src="{{ $.Site.Params.staticURL }}panoramas/20230616_thumb.jpg">
		 <span> go to panoramas</span>
		</span>
	   </a>
	   <a href="projects/">
		<span id="banner-thumbnail">
		 <img src="{{ $.Site.Params.staticURL }}projects/20191227-lens-repair/28-135_thumb.jpg">
		 <span> go to projects</span>
		</span>
	   </a>
	</div> 
  </div>

{{ end }}