<!-- Shortcode for single image tile -->
<!-- src = image link (required) -->
<!-- href = link to visit if not image -->
<!-- cdnHref = use this if you want to append cdn to *link* path-->
<!-- caption = text written over image -->
<!-- id = css id to allow variants-->
{{ $cdnSrc := (path.Join (path.Dir .Page.File.Path) (.Get "src")) | printf "%s%s" ($.Site.Params.staticURL) }}
{{ $thisHref := "NONE" }}
{{ with .Get "href" }}
    {{ $thisHref = . }}
{{ else }}
    {{ if .Get "cdnHref"}}
        {{ $thisHref = (path.Join (path.Dir .Page.File.Path) (.Get "cdnHref")) | printf "%s%s" ($.Site.Params.staticURL) }}
    {{ else}}
        {{ $thisHref = $cdnSrc }}
    {{ end }}
{{ end }}

{{ $thisId := "thumbnail"}}
{{ with .Get "id" }}
    {{ $thisId = . }}
{{end}}

<a href="{{$thisHref}}">
    <span id="{{ $thisId}}">
        <img src="{{ $cdnSrc }}"/>
        {{ with .Get "caption"}}<span>{{.}}</span> {{end}}
    </span>
</a>